@using AnimalDeCompagnieNoSuBlazor.Pages.Animal
@page "/animal/{id}"

<PageContainer Title="@(AnimalViewModel.Name)" Class="pageHeader">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>主页</BreadcrumbItem>
            <BreadcrumbItem>信息墙</BreadcrumbItem>
            <BreadcrumbItem>详细信息</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Extra>
        <Button Type="primary" OnClick="GotoUpdateInfoPage">信息修改</Button>
    </Extra>
    <Content>
        <Descriptions Class="headerList" Bordered Column="@column">
            <DescriptionsItem Title="名字">@(AnimalViewModel.Name)</DescriptionsItem>
            <DescriptionsItem Title="识别号">@(AnimalViewModel.Idcard)</DescriptionsItem>
            <DescriptionsItem Title="种类">@(AnimalViewModel.Type)</DescriptionsItem>
            <DescriptionsItem Title="子类别">@(AnimalViewModel.SubType)</DescriptionsItem>
            <DescriptionsItem Title="生日">@(AnimalViewModel.Birthday)</DescriptionsItem>
            <DescriptionsItem Title="年龄">@(AnimalViewModel.Age)</DescriptionsItem>
            <DescriptionsItem Title="简介">@(AnimalViewModel.ShortDescribe)</DescriptionsItem>
        </Descriptions>
    </Content>
    <ExtraContent>
        <div class="moreInfo">
            <Statistic Title="疫苗状态" Value="@("已接种疫苗")" />
            <Statistic Title="生育状态" Value="@("已绝育")" />
        </div>
    </ExtraContent>
    <ChildContent>
        <Tabs DefaultActiveKey="photoes">
            <TabPane Key="photoes">
                <Tab>
                    <span><Icon Type="picture" />照片墙</span>
                </Tab>
                <ChildContent>
                    @if (AnimalViewModel.Photoes.Count > 0)
                    {
                        <Carousel Effect="@CarouselEffect.Fade" Autoplay="TimeSpan.FromSeconds(4)">
                            @foreach (var photo in AnimalViewModel.Photoes)
                            {
                                <CarouselSlick>
                                    <div class="image-display-center">
                                        <img class="img" style="display:initial" alt="cat" src="@(photo)" />
                                    </div>
                                </CarouselSlick>
                            }
                        </Carousel>
                    }
                </ChildContent>
            </TabPane>
            <TabPane Key="events">
                <Tab>
                    <span><Icon Type="schedule" />重大事件</span>
                </Tab>
                <ChildContent>
                    <Timeline Mode="alternate">
                        @if (AnimalEvents != null)
                        {
                            @foreach (var @event in AnimalEvents)
                            {
                                <TimelineItem>@(@event.Event) @(@event.EventTime)</TimelineItem>
                            }
                        }
                    </Timeline>
                </ChildContent>
            </TabPane>
        </Tabs>
    </ChildContent>
</PageContainer>