@namespace AnimalDeCompagnieNoSuBlazor.Pages.Animal
@page "/animal"
@inject NavigationManager NavigationManager
<PageHeader>
    <PageHeaderTitle>搜索</PageHeaderTitle>
    <PageHeaderSubtitle>功能完善中...</PageHeaderSubtitle>
    <PageHeaderContent>
        <Row Gutter="24">
            <AntDesign.Col Span="4">
                <Text>种类</Text>
                <Select Mode="multiple"
                        DataSource="@_typeItems"
                        ValueName="@nameof(SelectType.Value)"
                        LabelName="@nameof(SelectType.Text)"
                        @bind-Values="@_selectedTypeValues"
                        EnableSearch
                        HideSelected
                        AllowClear="true"
                        OnSelectedItemsChanged="OnSelectedTypesChangedHandler">
                </Select>
            </AntDesign.Col>
            <AntDesign.Col Span="4">
                <Text>绝育</Text>
                <Select Mode="multiple"
                        DataSource="@_truefalseItems"
                        ValueName="@nameof(SelectType.Value)"
                        LabelName="@nameof(SelectType.Text)"
                        @bind-Values="@_selectedSterilizationValues"
                        EnableSearch
                        HideSelected
                        AllowClear="true"
                        OnSelectedItemsChanged="OnSelectedSterilizationChangedHandler">
                </Select>
            </AntDesign.Col>
            <AntDesign.Col Span="4">
                <Text>疫苗</Text>
                <Select Mode="multiple"
                        DataSource="@_truefalseItems"
                        ValueName="@nameof(SelectType.Value)"
                        LabelName="@nameof(SelectType.Text)"
                        @bind-Values="@_selectedVaccinValues"
                        EnableSearch
                        HideSelected
                        AllowClear="true"
                        OnSelectedItemsChanged="OnSelectedVaccinChangedHandler">
                </Select>
            </AntDesign.Col>
        </Row>
    </PageHeaderContent>
</PageHeader>
<div class="cardList">
    <AntList TItem="AnimalListViewModel" DataSource="_data"
             ItemLayout="ListItemLayout.Horizontal"
             Grid="_listGridType">
        <ListItem NoFlex Grid="_listGridType">
            <Card Bordered Class="card" Actions="new[] { actionSetting, actionEdit, actionEllipsis }">
                <TitleTemplate>
                    <div>@(context.Name)</div>
                    <Tag Color="magenta">@(context.Type)</Tag>
                    <Tag Color="green">@(context.SubType)</Tag>
                </TitleTemplate>
                <Extra>
                    <a slot="extra" href="/animal/@(context.Id)">详细信息</a>
                </Extra>
                <Cover>
                    @*<img alt="example" src="@(context.Photoe)" />*@
                    <Image Src="@(context.Photoe)" Fallback="/images/none-image.png" />
                </Cover>
                <Body>
                    this is body

                </Body>
            </Card>
        </ListItem>
    </AntList>
</div>
<BackTop>
    <div class="ant-back-top-inner"><Icon Type="rocket" Theme="outline" /></div>
</BackTop>


@code
{
    private RenderFragment actionSetting =
    @<Template>
        <Icon Type="setting" />
    </Template>
    ;
    private RenderFragment actionEdit =
    @<Template>
        <Icon Type="edit" />
    </Template>
    ;
    private RenderFragment actionEllipsis =
    @<Template>
        <Icon Type="ellipsis" />
    </Template>
    ;

}