@using AnimalDeCompagnieNoSuBlazor.Pages.Animal
@page "/animal/updateinfo/{id}"

<PageContainer Title="基本信息修改">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>主页</BreadcrumbItem>
            <BreadcrumbItem>信息墙</BreadcrumbItem>
            <BreadcrumbItem>信息修改</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <Content>
        <span>信息修改，请尽可能的的提供详尽的信息</span>
    </Content>
    <ChildContent>
        <Card>
            <Form Model="@AnimalUpdateModel"
                  Style="margin-top: 8px;"
                  LabelCol="new ColLayoutParam { Span = 7 }"
                  WrapperCol="new ColLayoutParam { Span = 17 }"
                  OnFinish="HandleSubmit">
                <FormItem Label="名字">
                    <Input Placeholder="Give the target a name" @bind-Value="@context.Name" />
                </FormItem>
                <FormItem Label="识别号">
                    <Input Disabled @bind-Value="@context.Idcard" />
                </FormItem>
                <FormItem Label="种类">
                    @if (selectNodes.Count > 0)
                    {
                        <Cascader Options="@selectNodes" @bind-Value="@context.SubType" OnChange="OnAnimalTypeSelected"></Cascader>
                    }
                </FormItem>
                <FormItem Label="生日">
                    <DatePicker TValue="DateTime?" Format="yyyy/MM/dd" @bind-Value="@context.Birthday" />
                </FormItem>
                <FormItem Label="描述">
                    <TextArea MinRows="4" @bind-Value="@context.ShortDescribe"></TextArea>
                </FormItem>
                <FormItem Label="照片">
                    <Upload Action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                            Name="photoes"
                            @bind-FileList="fileList"
                            ShowButton="fileList?.Count < 8"
                            ListType="picture-card"
                            OnPreview="HandlePreview"
                            OnChange="HandleChange"
                            OnRemove="HandleRemove">
                        <div>
                            <Icon Type="plus"></Icon>
                            <div className="ant-upload-text">Upload</div>
                        </div>

                    </Upload>
                    <Modal Visible="previewVisible" Title="previewTitle" OnCancel="HandleModalCancel">
                        <img style="width: 100%" src="@imgUrl" />
                    </Modal>
                </FormItem>
                <FormItem Style="margin-top:32px">
                    <Button Type="primary" HtmlType="submit">
                        提交
                    </Button>
                    <Button Style="margin-left:8px">
                        取消
                    </Button>
                </FormItem>
            </Form>
        </Card>
    </ChildContent>
</PageContainer>