@using AnimalDeCompagnieNoSuBlazor.Pages.Animal
@page "/animal/{id}"

<PageContainer Title="信息墙">
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem>主页</BreadcrumbItem>
            <BreadcrumbItem>信息墙</BreadcrumbItem>
            <BreadcrumbItem>详细信息</BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <Row Gutter="24">
            <AntDesign.Col Span="6">
                <Card>
                    <div class="col-detail">
                        <div class="box">
                            <img alt="@AnimalViewModel.Name" src="@AnimalViewModel.Avatar" />
                        </div>
                        <div className="name">@AnimalViewModel.Name</div>
                        <div>@AnimalViewModel.Idcard</div>
                    </div>
                </Card>
                <Card>
                    <Descriptions Bordered="false" Column="2" Layout="@DescriptionsLayout.Horizontal">
                        <DescriptionsItem Title="种类">@(AnimalViewModel.Type)</DescriptionsItem>
                        <DescriptionsItem Title="子类别">@(AnimalViewModel.SubType)</DescriptionsItem>
                        <DescriptionsItem Title="年龄">@(AnimalViewModel.Age)</DescriptionsItem>
                        <DescriptionsItem Title="生日">@(AnimalViewModel.Birthday?.ToString("d"))</DescriptionsItem>
                        <DescriptionsItem Title="简介" Class="animal-describe">@(AnimalViewModel.ShortDescribe)</DescriptionsItem>
                    </Descriptions>
                    <Divider Dashed />
                    <Statistic Title="疫苗状态" Value="@("已接种疫苗")" />
                    <Statistic Title="生育状态" Value="@("已绝育")" />
                    <Divider Dashed />
                    <div class="col-detail">
                        <Button Type="@ButtonType.Primary" OnClick="GotoUpdateInfoPage">信息修改</Button>
                    </div>
                </Card>
            </AntDesign.Col>
            <AntDesign.Col Span="18">
                <Card>
                    <CardTabs>
                        <Tabs DefaultActiveKey="photoes" TabPosition="@TabPosition.Top">
                            <TabPane Key="photoes">
                                <Tab>
                                    <span><Icon Type="picture" />照片墙</span>
                                </Tab>
                                <ChildContent>
                                    @if (AnimalViewModel.Photoes.Count > 0)
                                    {
                                        <Carousel Effect="@CarouselEffect.Fade" Autoplay="TimeSpan.FromSeconds(4)">
                                            @foreach (var photo in AnimalViewModel.Photoes)
                                            {
                                                <CarouselSlick>
                                                    <div class="image-display-center">
                                                        <img class="img" style="display:initial" alt="cat" src="@(photo)" />
                                                    </div>
                                                </CarouselSlick>
                                            }
                                        </Carousel>
                                    }
                                </ChildContent>
                            </TabPane>
                            <TabPane Key="events">
                                <Tab>
                                    <span><Icon Type="schedule" />大事件</span>
                                </Tab>
                                <ChildContent>
                                    <Timeline Mode="alternate">
                                        @if (AnimalEvents != null)
                                        {
                                            @foreach (var @event in AnimalEvents)
                                            {
                                                <TimelineItem>@(@event.Event) @(@event.EventTime)</TimelineItem>
                                            }
                                        }
                                    </Timeline>
                                </ChildContent>
                            </TabPane>
                        </Tabs>
                    </CardTabs>
                </Card>
            </AntDesign.Col>
        </Row>
    </ChildContent>
</PageContainer>
